# 파이썬 문법/코드 메모 🤓 
- 새롭게 알게되거나
- 자주 혼동하거나
- 익숙하지 않은

 **문법, 코드 - 잊지말자!!**

# 🔖 Numpy

## np.random.`randint` vs `rand/randn`

- `np.random.seed`  seed를 통한 난수 생성
- `np.random.randint`   균일 분포의 정수 난수 1개 생성
- `np.random.rand`  0부터 1사이의 균일 분포에서 난수 matrix array생성
- `np.random.randn` 가우시안 표준 정규 분포에서 난수 matrix array생성


- `np.random.shuffle`   기존의 데이터의 순서 바꾸기
- `np.random.choice`    기존의 데이터에서 sampling
- `np.unique`   데이터에서 중복된 값을 제거하고 중복되지 않는 값의 리스트를 출력
- `np.bincount` 발생하지 않은 사건에 대해서도 카운트를 해준다


출처: https://nittaku.tistory.com/443 [동신한의 조재성 - 머신러닝, 딥러닝, 안드로이드 개발 in 남룡북매:티스토리]

> [numpy.param.randn](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randn.html)

# 🔖 Pandas

## [.describe(include=[‘O’])](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

In [ ]:
# 문자열 describe() 이거 나한테는 혁신!!
data.describe(include=[‘O’])

## [.cut(data, num)](https://pandas.pydata.org/docs/reference/api/pandas.cut.html?highlight=pd%20cut)

In [ ]:
# 5개의 구간으로 잘라, age_band 라는 새로운 열 생성
titanic['age_band'] = pd.cut(titanic['Age'], 5)

pd.cut(나눌data, 나눌구간개수)

## [.pivot_table()](https://pandas.pydata.org/docs/reference/api/pandas.pivot.html)

In [ ]:
# 각 age_band 별로 평균 survived 가 어느 정도인지 보여주는 피벗 테이블 (age_band의 각 구간이 각각의 컬럼이 되고, 값으로 Survived 들어감)
pd.pivot_table(titanic, values='Survived', columns='age_band')

## [.DataFrame.apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [ ]:
DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)

df["content"].apply(lambda data: max(model.predict_proba([data])[0]))

# 🔖 Matplotlib

# 🔖 Seaborn

## [.FacetGrid](https://seaborn.pydata.org/generated/seaborn.FacetGrid.html)

# 🔖 Scikit-Learn

## [LabelEncoder()](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html)

In [ ]:
# numerical 데이터로 인코딩(LabelEncoder 사용)
from sklearn.preprocessing import LabelEncoder    # LabelEncoder를 불러오기
encoder = LabelEncoder()      # encoder라는 변수를 선언
encoder.fit(titanic['Title']) # title 열에 맞게 인코딩
titanic['Title'] = encoder.transform(titanic['Title']) # 인코딩 결과를 실제 행에 적용
titanic.head()

## `map()`
함수를 사용해서도 바꿀 수 있다!

In [ ]:
# map 함수 사용
genders = {"male": 0, "female": 1}
titanic['Sex'] = titanic['Sex'].map(genders)

titanic['Embarked'] = titanic['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)  # 소숫점 자리가 나오지 않게 .astype(int)를 사용