# 파이썬 문법/코드 메모 🤓 
- 새롭게 알게되거나
- 자주 혼동하거나
- 익숙하지 않은

 **문법, 코드 - 잊지말자!!**

# 🔖 Numpy

# 🔖 Pandas

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [ ]:
# 문자열 describe() 이거 나한테는 혁신!!
data.describe(include=[‘O’])

https://pandas.pydata.org/docs/reference/api/pandas.cut.html?highlight=pd%20cut

In [ ]:
# 5개의 구간으로 잘라, age_band 라는 새로운 열 생성
titanic['age_band'] = pd.cut(titanic['Age'], 5)

pd.cut(나눌data, 나눌구간개수)

https://pandas.pydata.org/docs/reference/api/pandas.pivot.html

In [ ]:
# 각 age_band 별로 평균 survived 가 어느 정도인지 보여주는 피벗 테이블 (age_band의 각 구간이 각각의 컬럼이 되고, 값으로 Survived 들어감)
pd.pivot_table(titanic, values='Survived', columns='age_band')

# 🔖 Matplotlib

# 🔖 Seaborn

# 🔖 Scikit-Learn

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [ ]:
# numerical 데이터로 인코딩(LabelEncoder 사용)
from sklearn.preprocessing import LabelEncoder    # LabelEncoder를 불러오기
encoder = LabelEncoder()      # encoder라는 변수를 선언
encoder.fit(titanic['Title']) # title 열에 맞게 인코딩
titanic['Title'] = encoder.transform(titanic['Title']) # 인코딩 결과를 실제 행에 적용
titanic.head()

`map()`함수를 사용해서도 바꿀 수 있다!

In [ ]:
# map 함수 사용
genders = {"male": 0, "female": 1}
titanic['Sex'] = titanic['Sex'].map(genders)

titanic['Embarked'] = titanic['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)  # 소숫점 자리가 나오지 않게 .astype(int)를 사용

# updated ⬇